*{
    box-sizing: border-box;
}

body{
    background-color: rgb(207, 247, 202);
}

.footercontainer{
    position: fixed;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin-bottom: 1rem;
    padding: .5rem;
}

main{
    margin: 6rem;
}

section{
    border: 2px solid black;
    margin-bottom: 1rem;
    padding: .5rem;
}

.question2{
    background: gainsboro;
    color: darkslategray;
    padding: 1rem;
}

.question2__card {
    font-size: 2rem;
}

